// Colores
$primary-color: #048b7b;
$secondary-color: #0c2c2c;
$accent-color: #109788;
$light-color: #ade7ee;
$gray-dark: #274f51;
$gray-medium: #5c8c94;
$gray-light: #f5f5f5;
$text-color: #333;

// Border radius y sombras
$radius: 8px;
$shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
