@import 'abstracts/variables';
@import 'base/reset';
@import 'base/global';
@import 'components/buttons';
@import 'components/cards';
@import 'components/modal';
@import 'components/header';
@import 'components/form';
@import 'components/toast';
@import 'pages/home';
@import 'pages/alta';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #048b7b;
  color: #fff;
  text-align: center;
  padding: 12px 20px;
}
